@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav ms-auto">
    @{
        var isAuthenticated = SignInManager.IsSignedIn(User);
    }

    @if (isAuthenticated)
    {
        <li class="nav-item">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link btn btn-link text-dark p-0" style="border:none; background:none;">Logout</button>
            </form>
        </li>
    }